.c-bookshelf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: $MAX-WIDTH-CONTENT;
  margin: 0 auto;

  .c-book-card {
    margin-left: $SPACING-1;
    margin-right: $SPACING-1;
    margin-top: $SPACING-4;
  }

  @media screen and (min-width: 600px) {
    .c-book-card {
      margin-right: $SPACING-4;
      margin-left: 0;
    }
  }
}
