.c-bookshelf {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;

  .c-book-card {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 600px) {
  .c-bookshelf .c-book-card {
    margin-right: 16px;
    flex-basis: 48%;
    flex-basis: calc(50% - 16px);
  }

  .c-bookshelf .c-book-card:nth-child(odd).c-book-card:last-of-type {
    flex-grow: 0;
    margin-right: auto;
  }
}

