.c-bookshelf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: $MAX-WIDTH-CONTENT;
  margin: 0 auto;

  .c-book-card {
    margin-right: $SPACING-4;
    margin-top: $SPACING-4;
  }
}
