.pg-home {
  height: 100%;
  overflow-y: auto;

  .pg-custom-tabs {
    .c-tab-navigator__inner {
      margin: 0 auto;
      max-width: $MAX-WIDTH-CONTENT;
    }
  }

  // STATES
  &.is-header-fixed {
    .c-tab-navigator {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      box-shadow:
        0 3px 6px rgba($COLOR-BLACK, 0.16),
        0 3px 6px rgba($COLOR-BLACK, 0.23);
    }

    .c-tab {
      position: relative;
      z-index: 0;
    }
  }
}
