* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $COLOR-BODY-BACKGROUND;
  color: $COLOR-PRIMARY-TEXT;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", Arial, sans-serif;
}

.app-root {
  height: 100%;
}

ul {
  list-style-type: none;
}

.c-loading {
  padding: $SPACING-4;
  font-size: 32px;
  text-align: center;
}
