@charset 'utf-8';

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ecf0f1;
  color: #313131;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", Arial, sans-serif;
}


/* COMPONENT: TABS */
.c-tabs {

}


/* COMPONENT: TAB */
.c-tab {
  padding: 16px;
}


/* COMPONENT: TAB-NAVIGATOR */
.c-tab-navigator {
  background-color: #3f51b5;
  color: #c5cae9;
}

  .c-tab-navigator__inner {
    display: flex;
  }

  .c-tab-navigator__item {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    line-height: 1.3;
    text-align: center;
    cursor: pointer;
  }

  .c-tab-navigator__item:hover {
    background-color: #3949a0;
  }

  /*  COMPONENT: TAB-NAVIGATOR (STATES) */
  .c-tab-navigator__item--is-active {
    color: #fff;
  }

  .c-tab-navigator__item--is-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ff4081;
  }


/* COMPONENT: BOOK-CARD */
.c-book-card {
  display: flex;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  line-height: 1.3;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

  .c-book-card__cover {
    flex-grow: 0;
    flex-shrink: 0;
    width: 150px;
    height: 215px;
  }

  .c-book-card__cover > img {
    height: 100%;
    width: 100%;
  }

  .c-book-card__infos {
    flex-grow: 1;
    margin-left: 8px;
  }

  .c-book-card__title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
    word-break: break-word;
  }

  .c-book-card__author {
    color: #757575;
    word-break: break-word;
  }

  .c-book-card + .c-book-card {
    margin-bottom: 16px;
  }


/* COMPONENT: SHELF */
.c-bookshelf {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

  .c-bookshelf .c-book-card {
    flex-basis: 100%;
  }

  @media screen and (min-width: 600px) {
    .c-bookshelf .c-book-card {
      margin-right: 16px;
      flex-basis: 48%;
      flex-basis: calc(50% - 16px);
    }

    .c-bookshelf .c-book-card:nth-child(odd).c-book-card:last-of-type {
      flex-grow: 0;
      margin-right: auto;
    }
  }


/* COMPONENT: APP-HEADER */
.c-app-header {
  height: 150px;
  background-color: #3f51b5;
  color: #fff;
}

  .c-app-header__title {
    padding: 32px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
  }


/* PAGE: HOME */
.pg-home {

}

  .pg-home .pg-custom-tabs .c-tab-navigator__inner {
    margin: 0 auto;
    max-width: 1000px;
  }
