// COLORS PALETTE
$COLOR-WHITE: #ffffff;
$COLOR-BLACK: #000000;


// COLORS BY CONTEXT
$COLOR-PRIMARY: #3f51b5;
$COLOR-ACCENT: #ff4081;
$COLOR-PRIMARY-TEXT: #313131;
$COLOR-SECONDARY-TEXT: #c5cae9;
$COLOR-SECONDARY-TEXT2: #757575;
$COLOR-BORDER: #e6e6e6;
$COLOR-BODY-BACKGROUND: #ecf0f1;


// SPACINGS
$SPACING-1: 8px;
$SPACING-2: 16px;
$SPACING-3: 24px;
$SPACING-4: 32px;
$SPACING-5: 40px;
$SPACING-6: 48px;


// SIZE
$HEIGHT-APP-HEADER: 120px;
$MAX-WIDTH-CONTENT: 1000px;


// OTHERS
$BORDER-RADIUS: 3px;
