.c-app-header {
  height: $HEIGHT-APP-HEADER-MOBILE;
  background-color: $COLOR-PRIMARY;
  color: $COLOR-WHITE;

  .c-app-header__title {
    padding: $SPACING-4;
    max-width: $MAX-WIDTH-CONTENT;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
  }

  // RESPONSIVENESS
  @media screen and (min-width: 480px) {
    height: $HEIGHT-APP-HEADER-DESKTOP;

    .c-app-header__title {
      font-size: 50px;
    }
  }
}

