.c-app-header {
  height: $HEIGHT-APP-HEADER;
  background-color: $COLOR-PRIMARY;
  color: $COLOR-WHITE;

  .c-app-header__title {
    padding: $SPACING-4;
    max-width: $MAX-WIDTH-CONTENT;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
  }
}

